<DOCTYPE! html>
<head>
<% content_for :title, "Home" %>
</head>
<body>
<%=image_tag("EmeraldLogo.png", :class => "logo")%>
<%=link_to new_user_registration_path do %>
<div class="signup">Sign Up</div>
<% end %>
<%=link_to new_user_session_path do %>
<div class="signin">Sign In</div>
<% end %>
<h1 id="logotxt">Emerald</h1>
<h1 class="txt1">Inspire the future.</h1>


<style>
body {
  background-color: #000000;
  background-image: url('https://i.imgur.com/LfFMkcJ.png');
      margin: 0px;
    overflow: hidden;
    padding: 0px;
    background-size: cover;
}
#logotxt {
  color: #fff;
  font-family: Font;
  position: absolute;
  font-size: 100px;
  top: 80%;
  right: 50%;
  margin-right: -179.75px;
  margin-top: -88px;
}
.txt1 {
  text-align: center;
  color: #fff;
  font-family: Font;
  position: relative;
   top: 470px;
}
.logo {
  max-width: 720px;
  max-height: 405px;
  position: absolute;
  right: 50%;
  margin-right: -202.5px;
  top: 25%;
  margin-top: -101.25px;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.logo:hover, .logo:focus, .logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.signup {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
        border: none;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 70px;
    left:80%;
    text-decoration: none;
    cursor: pointer;
}
.signup:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #3ac569;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.signup:hover:before, .signup:focus:before, .signup:active:before {
  left: 0;
  right: 0;
}

.signin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
      border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 70px;
    left:85%;
    text-decoration: none;
    cursor: pointer;
}
.signin:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #3ac569;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.signin:hover:before, .signin:focus:before, .signin:active:before {
  left: 0;
  right: 0;
}
</style>
</body>