
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
    <meta name="viewport" content="width=device-width">
    <title> </title>
    <style type="text/css">
.btn a:hover,
.footer__links a:hover {
  opacity: 0.8;
}
.wrapper .footer__share-button:hover {
  color: #ffffff !important;
  opacity: 0.8;
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
.column {
  padding: 0;
  text-align: left;
  vertical-align: top;
}
.mso .font-avenir,
.mso .font-cabin,
.mso .font-open-sans,
.mso .font-ubuntu {
  font-family: sans-serif !important;
}
.mso .font-bitter,
.mso .font-merriweather,
.mso .font-pt-serif {
  font-family: Georgia, serif !important;
}
.mso .font-lato,
.mso .font-roboto {
  font-family: Tahoma, sans-serif !important;
}
.mso .font-pt-sans {
  font-family: "Trebuchet MS", sans-serif !important;
}
.mso .footer p {
  margin: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .fblike {
    background-image: url(https://i7.createsend1.com/static/eb/customise/13-the-blueprint-3/images/fblike@2x.png) !important;
  }
  .tweet {
    background-image: url(https://i8.createsend1.com/static/eb/customise/13-the-blueprint-3/images/tweet@2x.png) !important;
  }
  .linkedinshare {
    background-image: url(https://i9.createsend1.com/static/eb/customise/13-the-blueprint-3/images/lishare@2x.png) !important;
  }
  .forwardtoafriend {
    background-image: url(https://i10.createsend1.com/static/eb/customise/13-the-blueprint-3/images/forward@2x.png) !important;
  }
}
@media only screen and (max-width: 620px) {
  .wrapper .size-18,
  .wrapper .size-20 {
    font-size: 17px !important;
    line-height: 26px !important;
  }
  .wrapper .size-22 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  .wrapper .size-24 {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  .wrapper .size-26 {
    font-size: 22px !important;
    line-height: 31px !important;
  }
  .wrapper .size-28 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .wrapper .size-30 {
    font-size: 26px !important;
    line-height: 34px !important;
  }
  .wrapper .size-32 {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  .wrapper .size-34,
  .wrapper .size-36 {
    font-size: 30px !important;
    line-height: 38px !important;
  }
  .wrapper .size-40 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  .wrapper .size-44 {
    font-size: 34px !important;
    line-height: 43px !important;
  }
  .wrapper .size-48 {
    font-size: 36px !important;
    line-height: 43px !important;
  }
  .wrapper .size-56 {
    font-size: 40px !important;
    line-height: 47px !important;
  }
  .wrapper .size-64 {
    font-size: 44px !important;
    line-height: 50px !important;
  }
  .divider {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .btn a {
    display: block !important;
    font-size: 14px !important;
    line-height: 24px !important;
    padding: 12px 10px !important;
    width: auto !important;
  }
  .btn--shadow a {
    padding: 12px 10px 13px 10px !important;
  }
  .image img {
    height: auto;
    width: 100%;
  }
  .layout,
  .column,
  .preheader__webversion,
  .header td,
  .footer,
  .footer__left,
  .footer__right,
  .footer__inner {
    width: 320px !important;
  }
  .preheader__snippet,
  .layout__edges {
    display: none !important;
  }
  .preheader__webversion {
    text-align: center !important;
  }
  .layout--full-width {
    width: 100% !important;
  }
  .layout--full-width tbody,
  .layout--full-width tr {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
  .column,
  .layout__gutter,
  .footer__left,
  .footer__right {
    display: block;
    Float: left;
  }
  .footer__inner {
    text-align: center;
  }
  .footer__links {
    Float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__right p,
  .footer__share-button {
    display: inline-block;
  }
  .layout__gutter {
    font-size: 20px;
    line-height: 20px;
  }
  .layout--no-gutter.layout--has-border:not(.layout--full-width),
  .layout--has-gutter.layout--has-border .column__background {
    width: 322px !important;
  }
  .layout--has-gutter.layout--has-border {
    left: -1px;
    position: relative;
  }
}
@media only screen and (max-width: 320px) {
  .border {
    display: none;
  }
  .layout--no-gutter.layout--has-border:not(.layout--full-width),
  .layout--has-gutter.layout--has-border .column__background {
    width: 320px !important;
  }
  .layout--has-gutter.layout--has-border {
    left: 0 !important;
  }
}
</style>
    
  <!--[if !mso]><!--><style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400|PT+Serif:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic);
</style><link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400|PT+Serif:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic" rel="stylesheet" type="text/css"><!--<![endif]--><style type="text/css">
body,.wrapper{background-color:#ededf1}.wrapper h1{color:#3e4751;font-size:26px;line-height:34px}.wrapper h1{}.wrapper h1{font-family:Ubuntu,sans-serif}.mso .wrapper h1{font-family:sans-serif !important}.wrapper h2{color:#3e4751;font-size:20px;line-height:28px}.wrapper h2{}.wrapper h2{font-family:Ubuntu,sans-serif}.mso .wrapper h2{font-family:sans-serif !important}.wrapper h3{color:#788991;font-size:16px;line-height:24px}.wrapper a{color:#4eaacc}.wrapper a:hover{color:#28718c !important}@media only screen and (max-width: 620px){.wrapper h1{}.wrapper h1{font-size:22px;line-height:31px}.wrapper h2{}.wrapper h2{font-size:17px;line-height:26px}.wrapper h3{}.wrapper p{}}.column,.column__background td{color:#7c7e7f;font-size:14px;line-height:21px}.column,.column__background td{font-family:"PT Serif",Georgia,serif}.mso .column,.mso .column__background td{font-family:Georgia,serif 
!important}.border{background-color:#b4b4c4}.layout--no-gutter.layout--has-border:not(.layout--full-width),.layout--has-gutter.layout--has-border .column__background,.layout--full-width.layout--has-border{border-top:1px solid #b4b4c4;border-bottom:1px solid #b4b4c4}.wrapper blockquote{border-left:4px solid #b4b4c4}.divider{background-color:#b4b4c4}.wrapper .btn a{color:#fff}.wrapper .btn a{font-family:"PT Serif",Georgia,serif}.mso .wrapper .btn a{font-family:Georgia,serif !important}.wrapper .btn a:hover{color:#fff !important}.btn--flat a,.btn--shadow a,.btn--depth a{background-color:#4eaacc}.btn--ghost a{border:1px solid #4eaacc}.preheader--inline,.footer__left{color:#7c7e7f}.preheader--inline,.footer__left{font-family:Ubuntu,sans-serif}.mso .preheader--inline,.mso .footer__left{font-family:sans-serif !important}.wrapper .preheader--inline a,.wrapper .footer__left 
a{color:#7c7e7f}.wrapper .preheader--inline a:hover,.wrapper .footer__left a:hover{color:#7c7e7f !important}.header__logo{color:#c3ced9}.header__logo{font-family:Roboto,Tahoma,sans-serif}.mso .header__logo{font-family:Tahoma,sans-serif !important}.wrapper .header__logo a{color:#c3ced9}.wrapper .header__logo a:hover{color:#859bb1 !important}.footer__share-button{background-color:#777779}.footer__share-button{font-family:Ubuntu,sans-serif}.mso .footer__share-button{font-family:sans-serif !important}.layout__separator--inline{font-size:20px;line-height:20px;mso-line-height-rule:exactly}
</style><meta name="robots" content="noindex,nofollow"></meta>
<meta property="og:title" content="Password Reset"></meta>
</head>
<!--[if mso]>
  <body class="mso">
<![endif]-->
<!--[if !mso]><!-->
  <body class="full-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #ededf1;">
<!--<![endif]-->
    <div class="wrapper" style="background-color: #ededf1;">
      <table style="border-collapse: collapse;table-layout: fixed;color: #7c7e7f;font-family: Ubuntu,sans-serif;" align="center">
        <tbody><tr>
          <td class="preheader__snippet" style="padding: 10px 0 5px 0;vertical-align: top;width: 280px;">
            
          </td>
          <td class="preheader__webversion" style="text-align: right;padding: 10px 0 5px 0;vertical-align: top;width: 280px;">
            
          </td>
        </tr>
      </tbody></table>
      <table class="header" style="border-collapse: collapse;table-layout: fixed;margin-left: auto;margin-right: auto;" align="center" id="emb-email-header-container">
        <tbody><tr>
          <td style="padding: 0;width: 600px;">
            <div class="header__logo emb-logo-margin-box" style="font-size: 26px;line-height: 32px;margin-top: 6px;margin-bottom: 20px;color: #c3ced9;font-family: Roboto,Tahoma,sans-serif;margin-left: 20px;margin-right: 20px;">
              <div class="logo-center" style="font-size:0px !important;line-height:0 !important;" align="center" id="emb-email-header"><img style="height: auto;width: 100%;border: 0;max-width: 141px;" src="https://i1.createsend1.com/ei/d/DC/763/3DB/212522/csfinal/EmeraldLogo.png" alt="" width="141" height="141"></div>
            </div>
          </td>
        </tr>
      </tbody></table>
      <table class="layout layout--no-gutter" style="border-collapse: collapse;table-layout: fixed;margin-left: auto;margin-right: auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;" align="center" emb-background-style>
        <tbody><tr>
          <td class="column" style='padding: 0;text-align: left;vertical-align: top;color: #7c7e7f;font-size: 14px;line-height: 21px;font-family: "PT Serif",Georgia,serif;width: 600px;'>
    
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;">
      <div style="line-height:10px;font-size:1px">&nbsp;</div>
    </div>
    
            <div style="margin-left: 20px;margin-right: 20px;">
      <h3 class="size-22" style="margin-top: 0;margin-bottom: 0;font-style: normal;font-weight: normal;color: #788991;font-size: 22px;line-height: 31px;font-family: open sans,sans-serif;text-align: center;"><span class="font-open-sans"><span style="color:#000000"><strong>Someone has requested to change your password</strong></span></span></h3><p style="margin-top: 12px;margin-bottom: 0;font-family: open sans,sans-serif;"><span class="font-open-sans"><span>Hi <%= @resource.firstname %>,</span></span></p><p style="margin-top: 20px;margin-bottom: 20px;"><font face="Open Sans, sans-serif">Someone has requested to change your password. If you requested this change, follow the&nbsp;instructions&nbsp;below. If you did not request this change, simply ignore this email, and nothing will be changed</font></p>
    </div>
    
            <div style="margin-left: 20px;margin-right: 20px;">
      <div class="divider" style="display: block;font-size: 2px;line-height: 2px;width: 40px;background-color: #b4b4c4;margin-left: 260px;margin-right: 260px;margin-bottom: 20px;">&nbsp;</div>
    </div>
    
            <div style="margin-left: 20px;margin-right: 20px;">
      <div style="line-height:5px;font-size:1px">&nbsp;</div>
    </div>
    
            <div style="margin-left: 20px;margin-right: 20px;">
      <h2 class="size-16" style="margin-top: 0;margin-bottom: 0;font-style: normal;font-weight: normal;color: #3e4751;font-size: 16px;line-height: 24px;font-family: open sans,sans-serif;"><span class="font-open-sans"><strong>To change your password:</strong></span></h2><p style="margin-top: 16px;margin-bottom: 0;font-family: open sans,sans-serif;"><span class="font-open-sans">1. Click the button below</span></p><p style="margin-top: 20px;margin-bottom: 20px;font-family: open sans,sans-serif;"><span class="font-open-sans">2. Enter your new password, and the confirmation&nbsp;</span></p>
    </div>
    
            <div style="margin-left: 20px;margin-right: 20px;">
      <div class="btn btn--flat fullwidth" style="margin-bottom: 20px;text-align: center;">
        <![if !mso]>
<%= link_to edit_password_url(@resource, reset_password_token: @token), :style => 'text-decoration:none;' do %>
        <p style='border-radius: 0;display: block;font-weight: bold;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #fff;background-color: #3ac569; font-family: &#39;Open Sans&#39;, sans-serif;font-family: "PT Serif",Georgia,serif;font-size: 14px;line-height: 24px;padding: 12px 35px;'>CHANGE YOUR PASSWORD</p><![endif]>
        <% end %>
        <style type="text/css">
        a {
        	text-decoration: none;
        }
        .gt a {
        	text-decoration: none;
        }
        </style>
      <!--[if mso]><p style="line-height:0;margin:0;">&nbsp;</p><v:rect xmlns:v="urn:schemas-microsoft-com:vml" href="http://emerald.createsend1.com/t/d-l-trhhlyk-l-r/" style="width:560px" fillcolor="#3AC569" stroke="f"><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,12px"><center style="font-size:14px;line-height:24px;color:#FFFFFF;font-family:Georgia,serif;font-weight:bold;mso-line-height-rule:exactly;mso-text-raise:4px">CHANGE YOUR PASSWORD</center></v:textbox></v:rect><![endif]--></div>
    </div>
    
            <div style="margin-left: 20px;margin-right: 20px;margin-bottom: 24px;">
      <p style="margin-top: 0;margin-bottom: 0;font-family: open sans,sans-serif;"><span class="font-open-sans">Best regards,<br>
Code Emerald</span></p>
    </div>
    
          </td>
        </tr>
      </tbody></table>
  
      <div style="font-size: 20px;line-height: 20px;mso-line-height-rule: exactly;">&nbsp;</div>
    
      <table class="footer" style="border-collapse: collapse;table-layout: fixed;margin-right: auto;margin-left: auto;border-spacing: 0;width: 560px;" align="center">
        <tbody><tr>
          <td style="padding: 0 0 40px 0;">
            <table class="footer__right" style="border-collapse: collapse;table-layout: auto;border-spacing: 0;" align="right">
              <tbody><tr>
                <td class="footer__inner" style="padding: 0;">
                  
                  
                  
                  
                </td>
              </tr>
            </tbody></table>
            <table class="footer__left" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;color: #7c7e7f;font-family: Ubuntu,sans-serif;width: 380px;">
              <tbody><tr>
                <td class="footer__inner" style="padding: 0;font-size: 12px;line-height: 19px;">
                  
                  <div>
                    
                  </div>
                  <div class="footer__permission" style="margin-top: 18px;">
                    
                  </div>
                  <div>
                  </div>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      
    </div>
</body></html>


